.header-section{
	min-height: calc(100vh - 64px);
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.no-margin-top{
	margin-top: 0px !important
}
h1{
	font-size: 2.3rem;
	margin-bottom: 1rem;
}
h2{
	font-size: 1.5rem
}
.bold-text{
	font-weight: bold;
}
.header-center-box{
	flex-basis: 33.33%
}
.get-started-margin-top{
	margin-top: 40px
}
.flipping-msg > h2{
	display: none;
}
.flipping-msg > .animated{
	display: block;
}
@media (max-width: 992px){

		.header-center-box {
	    flex-basis: 90%;
	}

}
