#testimonial{
	background-image: url('../../src/images/testimony3.png');
	    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 400px;
    font-weight: bold;

}
#testimonial {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#testimonial > .container {
	flex-basis: 80%
}
.no-margin-bottom{
	margin-bottom: 0px;
}

.testimonial-msg > div{
	display: none;
}
.testimonial-msg > .animated{
	display: block;
}