#expiry_date{
	display: block;
}
.react-datepicker__input-container {
    display: block;
}
.react-datepicker__day-name{
	color: white;
}
.react-datepicker__portal .react-datepicker__current-month {
   color: white;
   background-color: rgb(38, 166, 154);
    padding-top: 10px;
}
.react-datepicker__header {
    text-align: center;
    background-color: rgb(0, 150, 136);
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding-top: 25px;
    position: relative;
    color: white;
    padding-bottom: 10px;
}
.react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
}
.react-datepicker__month {
    
    padding: 0px 15px;
}
.react-datepicker__navigation {
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 40px;
    width: 0;
    border: 0.45rem solid transparent;
    z-index: 1;
}
.react-datepicker__day-names{
	background-color: rgb(38, 166, 154);
}
#delivery_type{
	border-bottom: 1px solid #9e9e9e;
    border-top: none;
    border-right: none;
    border-left: none;
}
#delivery_type:focus{
  outline:none
}
input[type=text],input[type=email],select{
	    margin: 0 0 5px 0;
}
.has-error{
	border-bottom: 1px solid #d70d0d !important;
    box-shadow: 0 1px 0 0 #d70d0d !important;
}
.error-msg{
	color: #df4949
}
.proceed-margin{
	margin-top: 30px
}

.has-error2 select{
	border-bottom: 1px solid #d70d0d !important;
    box-shadow: 0 1px 0 0 #d70d0d !important;
}
.delivery-info{
    vertical-align: middle;
    color: #42A5F5;
}
.coupon-wrapper{
    margin-top: 1.5rem
}