
	.nav{
	    border-bottom: solid 1px rgba(255,255,255,0.2);
      box-shadow: none;
}
.nav-box-shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}
.shell{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  @media only screen and (min-width: 993px){
  	nav .cart-btn {
    display: none;


  }
}
	 .cart-btn {
    float: right;
    display: flex;
    align-items: center;
}

nav .cart-icon{
	display: inline-block !important;
	vertical-align: top
}
.cart-link:hover{
	background-color: transparent !important;
}
.cart-link .badge{
	    border-radius: 50% !important;
    width: 25px;
    height: 25px;
    color: #26a69a !important;
    line-height: 25px;
    min-width: 25px;
    font-weight: bold !important;
}
.cart-link{
	//vertical-align: top
}
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 996 !important;
    will-change: opacity;
}
a:hover,a,a:visited{
  text-decoration: none;
  color: inherit;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 0px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand > img{
  display: inline-block;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 10px 0px !important;
    white-space: nowrap;
}
.sm-logo{
    display: none;
  }
@media only screen and (max-width: 993px){
  .bg-logo{
    display: none;
  }
  .sm-logo{
    display: block;
  }
  .navbar-brand>img {
    display: none;
}
.st-title{
  display: none;
}
}
.st-title{
  font-size: 1.5rem;
  font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.st-title > span{
  color: #ff9800;
    font-weight: bold;
}
.navbar-brand img{
  vertical-align: bottom;
}