.cart-section{
	background-color: #f7fbfb;
}
.cart-section section{
	margin-top: 50px
}
.cart-card .delete-btn{
color: black;
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
}
.cart-list-item{
	position: relative;
}
.cart-list-item h5{
font-size: 1.1rem;
margin-bottom: 5px;
    margin-top: 0px;
}
.cart-list-item span:first-of-type{
	margin-right: 15px
}
.cart-card {
	padding: 0px 20px
}

.cart-card .collection,.cart-card .collection-item,.cart-card .card-action, .checkout-card .card-action{
	border:none;
}
.cart-qty{
	color: #ABB0BE;
}
.cart-card .btn-large, .checkout-card .btn-large{
	text-transform: none;
	width: 100%
}
.cart-total{
	color: #ABB0BE;
	
}
.cart-card .collection-header{
	display: flex;
	justify-content: space-between;
	padding-top: 20px !important;
}
.cart-card .badge{
	margin-left: 2px;
    height: 25px;
    width: 25px;
    min-width: 25px;
    border-radius: 50% !important;
    line-height: 25px;
    font-weight: bold !important;
}
.cart-card .btn-flat, .checkout-card .btn-flat{
	color: white;
}
.empty-cart-msg{
	display: block;
    text-align: center;
    font-size: 28px;
    color: #b1b5c2;
    padding-top: 15px;
}