.checkout-section{
	background-color: #f7fbfb;
}
.checkout-section section{
	margin-top: 50px
}
.checkout-card{
	color: rgba(0, 0, 0, 0.87);
}
.input-field:first-of-type {
    position: relative;
    margin-top: 2rem;
}
.card-form-padding{
	padding-top: 50px
}
.details-card-title{
	text-transform: uppercase;
	font-size: 20px !important;
	font-weight: 300 !important;
}
.details-card-title > i{
	vertical-align: bottom;
    font-size: 38px !important;
    color: #009688;
}
label{
	font-weight: 300 !important;
}