.confirm-card .collection,.cart-card .collection-item,.cart-card .card-action, .checkout-card .card-action{
	border:none;
}
.detail-title{
	margin-right: 20px;
	color: #9e9e9e;
}
.confirm-section{
	background-color: #f7fbfb;

}
.confirm-section section{
margin-top: 50px;
margin-bottom: 50px;
}

.confirm-btn{
	margin-right: 10px;
    color: white;
    text-transform: capitalize;
    height: 34px;
    line-height: 34px;
    padding: 0 1rem;
}

.confirm-card .card-action{
	border-top: none !important;
	padding: 16px 24px;
	padding-top: 0px;
	text-align: right;
}

.my-items{
  		display: block;
    //border-bottom: 1px solid rgba(160,160,160,0.2);
    line-height: 39px;
    margin-bottom: 2px;
    color: #909090;
  	}
  	.confirm-title{
  		//color: #90949c;
  		font-size: 16px !important;
  		font-weight: bold !important;
  		text-transform: capitalize;
  	}
  	.confirm-card .card-content{
  		padding: 15px 24px;
  	}
  	.confirm-card ul {
    margin-bottom: 35px;
    margin-top: -15px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.confirm-card ul li {
    color: #909090;
    line-height: 39px;
    overflow: hidden;
}
.confirm-card ul li .name {
    float: left;
}
.confirm-card ul li .price {
    float: right;
}
.order-card ul li:last-child {
    border-top: 1px solid #909090;
    color: #ec4445;
}
.conf-price{
	font-size: inherit; background-color: transparent; transition: none;
}
.cus-details{
	font-size: inherit; background-color: transparent; transition: none; text-transform: capitalize;
}

.confirm-card ul li + li {
    border-top: 1px solid #e7e7e7;
}

.confirm-card .card-action >a{
    background-color: rgba(0, 0, 0, 0.1);
}
.confirm-card .card-action a +a:hover{
	color: white !important;
}