.receipt-box{
	flex-basis: 80%;
	text-align: center;
}
.receipt-box-wrapper{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.social-box-receipt{

}
.social-box-receipt .fa-facebook {
    background-color: #3b5999;
}

.social-box-receipt .fa-instagram {
    background-color: #e4405f;
}

.social-box-receipt .fa-twitter {
    background-color: #55acee;
}
.mb-60-receipt{
	margin-bottom: 60px;
	line-height: 25px;
}

.social-box-receipt a{
	margin-right: 20px;
}
.receipt-section{
	background-color: #f7fbfb;
}
.receipt-section section{
	margin-top: 50px
}
.receipt-box p{
	margin-top: 0px;
	line-height: 25px;
}
.receipt-box h1{
	line-height: 30px;
}
.bold-txt{
	font-weight: bold;
}