.no-margin-right{
	margin-right: 0px !important
}
.card-title{
	font-size: 20px !important;
	font-weight: bold !important
}

.services .card {
	//height: 326px
}
.services .card ul {
	line-height: 2rem
}
/*.services .card .card-action
{
	    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
}*/
.text-upper{
	text-transform: uppercase;
}
.flex-wrapper-row{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.paper-wrapper h5{
	margin-top: 0px !important;
	font-size: 1.1rem;
}
.paper-wrapper .btn-flat{
	text-transform: none !important
}
.services-card-content{
	background-color: #26a69a;
    color: white;
}
.ns-card i {
	color: white;
    font-size: 60px;
}
	.ns-card h4 {
	color: white;
    margin-top: 0px;
}
.services-list{
	border: none;
}
.services-list i{
	font-size: 25px;

}
.services-list li{
	display: flex;
	justify-content: space-between;
}
.services-price{
	color: #009688;
    font-weight: bold;
    font-size: 15px;
}
.services-title{
	font-size: 18px

}
body{

	    font-family: 'lato', sans-serif!important;
    font-size: 14px;
    line-height: 29px;

}
.services .card {
    margin-bottom: 30px;
}